{% extends 'base.html.twig' %}

{% block title %}Bem Vindo ao Hotel Beira-Mar!{% endblock %}

{% block javascripts %}

    <script src="/daterangepicker-master/moment.min.js" type="text/javascript"></script>
    <script src="/daterangepicker-master/daterangepicker.js" type="text/javascript"></script>
    <link href="/daterangepicker-master/daterangepicker.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pesquise agora</h1>
        <p class="lead">Veja os quartos disponíveis para a data desejada.</p>
    </div>

    <div class="container">
        <div class="mb-3 text-center">

        </div>


        {% for quarto in quartos %}
        <div class="card">
            <div class="card-header">
                {{ quarto.nome }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Diaria: {{ quarto.diaria }}</h5>
                <p class="card-text">{{ quarto.descricao }}.</p>
                <a href="{{ path('reservar', {'quarto': quarto.id}) }}" class="btn btn-primary">Reservar</a>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
