{% extends 'base.admin.html.twig' %}

{% block title %}Novo Quarto{% endblock %}

{% block body %}
    <h1>Adicionar Novo Quarto</h1>

    {{ include('quarto/_form.html.twig') }}

    <a href="{{ path('quarto_index') }}">Voltar para lista</a>
{% endblock %}
