<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/css/admin.css" rel="stylesheet" type="text/css"/>

        <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.bundle.js" type="text/javascript"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>
   
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hotel Beira-Mar</a>
    </nav>
<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ("reserva_index") }}">
                                <span data-feather="file"></span>
                                Reservas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("quarto_index") }}">
                                <span data-feather="bookmark"></span>
                                Quartos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ("cliente_index") }}">
                                <span data-feather="briefcase"></span>
                                Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("extra_index") }}">
                                <span data-feather="tv"></span>
                                Extras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Usuários
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                
               {% block body %}{% endblock %} 
                
            </main>
        </div>
    </div>

{% block javascripts %}{% endblock %}

<!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


</body>
</html>
